.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.box {
	box-shadow: 1px 1px 10px #b29b9b;
	width: 70%;
	padding: 40px;
	background: #742424;
    color: white;
}

.desc-help {
    font-size: 0.7rem;
    text-align: right;
}

@media (max-width: 767.98px) { 
	.box {
		width: 90%;
	}
}