.container {
	width: 75%;
	margin: 40px auto;
}

.fornecedor {
	color: #020000;
}

#search,
#search:focus {
	background: #0a1a34;
    border-radius: 20px;
    padding: 20px;
    color: white;
}

@media (max-width: 767.98px) { 
	.container {
		width: 90%;
	}
}

@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
}